/*alertes*/

.alert {
	display: block;
    padding: 2%;
    background-color: $coloralerte; 
    color: white;
    margin-bottom: 15px;
   
}

.success{
	display: block;
	padding: 2%;
	background-color: $colorsucces;
	color: white;
	margin-bottom: 15px;
}

.info{
	display: block;
	padding: 2%;
	background-color: $colorinfo;
	color: white;
	margin-bottom: 15px;
}

.warning {
	display: block;
	padding: 2%;
	background-color: $colorwarning;
	color: white;
	margin-bottom: 15px;
}
